@model List<Models.EF.ProductCategory>
@{
    var newsCategory = (List<Models.EF.NewsCategory>)ViewBag.NewsCategoryList;
}
<!--left menu-->
<div class="header-left">
    <div class="dropdown category-dropdown show is-on" data-visible="true">
        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-display="static" title="Danh mục">
            DANH MỤC SẢM PHẨM
        </a>

        <div class="dropdown-menu show">
            <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                    @foreach (var item in Model.Where(x => x.ParentID == 0).OrderBy(x => x.DisplayOrder))
                    {
                        <li class="megamenu-container">
                            <a class="sf-with-ul" href="/san-pham/@item.MetaTitle-@item.ID">@item.Name</a>
                            @if (Model.Where(x => x.ParentID == item.ID).Count() > 0)
                            {
                                <div class="megamenu">
                                    <div class="row no-gutters">
                                        <div class="col-md-12">
                                            <div class="menu-col">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="menu-title">....</div>
                                                        <ul>
                                                            @foreach (var childItem in Model.Where(x => x.ParentID == item.ID))
                                                            {
                                                                <li><a href="/san-pham/@childItem.MetaTitle-@childItem.ID">@childItem.Name</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="dropdown-menu">
            <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                    <li class="megamenu-container">
                        <a class="sf-with-ul" href="#">Electronics</a>

                        <div class="megamenu">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-title">Laptops & Computers</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Desktop Computers</a></li>
                                                    <li><a href="#">Monitors</a></li>
                                                    <li><a href="#">Laptops</a></li>
                                                    <li><a href="#">iPad & Tablets</a></li>
                                                    <li><a href="#">Hard Drives & Storage</a></li>
                                                    <li><a href="#">Printers & Supplies</a></li>
                                                    <li><a href="#">Computer Accessories</a></li>
                                                </ul>

                                                <div class="menu-title">TV & Video</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">TVs</a></li>
                                                    <li><a href="#">Home Audio Speakers</a></li>
                                                    <li><a href="#">Projectors</a></li>
                                                    <li><a href="#">Media Streaming Devices</a></li>
                                                </ul>
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="menu-title">Cell Phones</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Carrier Phones</a></li>
                                                    <li><a href="#">Unlocked Phones</a></li>
                                                    <li><a href="#">Phone & Cellphone Cases</a></li>
                                                    <li><a href="#">Cellphone Chargers </a></li>
                                                </ul>

                                                <div class="menu-title">Digital Cameras</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Digital SLR Cameras</a></li>
                                                    <li><a href="#">Sports & Action Cameras</a></li>
                                                    <li><a href="#">Camcorders</a></li>
                                                    <li><a href="#">Camera Lenses</a></li>
                                                    <li><a href="#">Photo Printer</a></li>
                                                    <li><a href="#">Digital Memory Cards</a></li>
                                                    <li><a href="#">Camera Bags, Backpacks & Cases</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="banner banner-overlay">
                                        <a href="category.html" class="banner banner-menu">
                                            <img src="assets/images/demos/demo-13/menu/banner-1.jpg" alt="Banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="megamenu-container">
                        <a class="sf-with-ul" href="#">Furniture</a>

                        <div class="megamenu">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-title">Bedroom</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Beds, Frames & Bases</a></li>
                                                    <li><a href="#">Dressers</a></li>
                                                    <li><a href="#">Nightstands</a></li>
                                                    <li><a href="#">Kids' Beds & Headboards</a></li>
                                                    <li><a href="#">Armoires</a></li>
                                                </ul>

                                                <div class="menu-title">Living Room</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Coffee Tables</a></li>
                                                    <li><a href="#">Chairs</a></li>
                                                    <li><a href="#">Tables</a></li>
                                                    <li><a href="#">Futons & Sofa Beds</a></li>
                                                    <li><a href="#">Cabinets & Chests</a></li>
                                                </ul>
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="menu-title">Office</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Office Chairs</a></li>
                                                    <li><a href="#">Desks</a></li>
                                                    <li><a href="#">Bookcases</a></li>
                                                    <li><a href="#">File Cabinets</a></li>
                                                    <li><a href="#">Breakroom Tables</a></li>
                                                </ul>

                                                <div class="menu-title">Kitchen & Dining</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#">Dining Sets</a></li>
                                                    <li><a href="#">Kitchen Storage Cabinets</a></li>
                                                    <li><a href="#">Bakers Racks</a></li>
                                                    <li><a href="#">Dining Chairs</a></li>
                                                    <li><a href="#">Dining Room Tables</a></li>
                                                    <li><a href="#">Bar Stools</a></li>
                                                </ul>
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .menu-col -->
                                </div><!-- End .col-md-8 -->

                                <div class="col-md-4">
                                    <div class="banner banner-overlay">
                                        <a href="category.html" class="banner banner-menu">
                                            <img src="assets/images/demos/demo-13/menu/banner-2.jpg" alt="Banner">
                                        </a>
                                    </div><!-- End .banner banner-overlay -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .megamenu -->
                    </li>
                    <li class="megamenu-container">
                        <a class="sf-with-ul" href="#">Cooking</a>

                        <div class="megamenu">
                            <div class="menu-col">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="menu-title">Cookware</div><!-- End .menu-title -->
                                        <ul>
                                            <li><a href="#">Cookware Sets</a></li>
                                            <li><a href="#">Pans, Griddles & Woks</a></li>
                                            <li><a href="#">Pots</a></li>
                                            <li><a href="#">Skillets & Grill Pans</a></li>
                                            <li><a href="#">Kettles</a></li>
                                            <li><a href="#">Soup & Stockpots</a></li>
                                        </ul>
                                    </div><!-- End .col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="menu-title">Dinnerware & Tabletop</div><!-- End .menu-title -->
                                        <ul>
                                            <li><a href="#">Plates</a></li>
                                            <li><a href="#">Cups & Mugs</a></li>
                                            <li><a href="#">Trays & Platters</a></li>
                                            <li><a href="#">Coffee & Tea Serving</a></li>
                                            <li><a href="#">Salt & Pepper Shaker</a></li>
                                        </ul>
                                    </div><!-- End .col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="menu-title">Cooking Appliances</div><!-- End .menu-title -->
                                        <ul>
                                            <li><a href="#">Microwaves</a></li>
                                            <li><a href="#">Coffee Makers</a></li>
                                            <li><a href="#">Mixers & Attachments</a></li>
                                            <li><a href="#">Slow Cookers</a></li>
                                            <li><a href="#">Air Fryers</a></li>
                                            <li><a href="#">Toasters & Ovens</a></li>
                                        </ul>
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->

                                <div class="row menu-banners">
                                    <div class="col-md-4">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="assets/images/demos/demo-13/menu/1.jpg" alt="image">
                                            </a>
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="assets/images/demos/demo-13/menu/2.jpg" alt="image">
                                            </a>
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-md-4 -->

                                    <div class="col-md-4">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="assets/images/demos/demo-13/menu/3.jpg" alt="image">
                                            </a>
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .menu-col -->
                        </div><!-- End .megamenu -->
                    </li>
                    <li class="megamenu-container">
                        <a class="sf-with-ul" href="#">Clothing</a>

                        <div class="megamenu">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-title">Women</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#"><strong>New Arrivals</strong></a></li>
                                                    <li><a href="#"><strong>Best Sellers</strong></a></li>
                                                    <li><a href="#"><strong>Trending</strong></a></li>
                                                    <li><a href="#">Clothing</a></li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Bags</a></li>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Jewlery & Watches</a></li>
                                                    <li><a href="#"><strong>Sale</strong></a></li>
                                                </ul>
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="menu-title">Men</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="#"><strong>New Arrivals</strong></a></li>
                                                    <li><a href="#"><strong>Best Sellers</strong></a></li>
                                                    <li><a href="#"><strong>Trending</strong></a></li>
                                                    <li><a href="#">Clothing</a></li>
                                                    <li><a href="#">Shoes</a></li>
                                                    <li><a href="#">Bags</a></li>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Jewlery & Watches</a></li>
                                                </ul>
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .menu-col -->
                                </div><!-- End .col-md-8 -->

                                <div class="col-md-4">
                                    <div class="banner banner-overlay">
                                        <a href="category.html" class="banner banner-menu">
                                            <img src="assets/images/demos/demo-13/menu/banner-3.jpg" alt="Banner">
                                        </a>
                                    </div><!-- End .banner banner-overlay -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .row -->

                            <div class="menu-col menu-brands">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <a href="#" class="brand">
                                            <img src="assets/images/brands/1.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-lg-2 -->

                                    <div class="col-lg-2">
                                        <a href="#" class="brand">
                                            <img src="assets/images/brands/2.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-lg-2 -->

                                    <div class="col-lg-2">
                                        <a href="#" class="brand">
                                            <img src="assets/images/brands/3.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-lg-2 -->

                                    <div class="col-lg-2">
                                        <a href="#" class="brand">
                                            <img src="assets/images/brands/4.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-lg-2 -->

                                    <div class="col-lg-2">
                                        <a href="#" class="brand">
                                            <img src="assets/images/brands/5.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-lg-2 -->

                                    <div class="col-lg-2">
                                        <a href="#" class="brand">
                                            <img src="assets/images/brands/6.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-lg-2 -->
                                </div><!-- End .row -->
                            </div><!-- End .menu-brands -->
                        </div><!-- End .megamenu -->
                    </li>
                    <li><a href="#">Home Appliances</a></li>
                    <li><a href="#">Healthy & Beauty</a></li>
                    <li><a href="#">Shoes & Boots</a></li>
                    <li><a href="#">Travel & Outdoor</a></li>
                    <li><a href="#">Smart Phones</a></li>
                    <li><a href="#">TV & Audio</a></li>
                    <li><a href="#">Gift Ideas</a></li>
                </ul><!-- End .menu-vertical -->
            </nav><!-- End .side-nav -->
        </div>
        <!-- End .dropdown-menu -->
    </div><!-- End .category-dropdown -->
</div>
<!--End left menu-->
<!--main menu-->
<div class="" style="width:1000px !important">
    <nav class="main-nav">
        <ul class="menu sf-arrows">
            <li>
                <a href="#" class="sf-with-ul">Sản phẩm</a>

                <div class="megamenu megamenu-md">
                    <div class="row no-gutters">
                        @{
                            int count = Model.Count();
                        }
                        <div class="col-md-12">
                            <div class="menu-col">
                                <div class="row">
                                    @{
                                        for (int i = 0; i <= count; i += 10)
                                        {
                                            var listBlock = Model.Skip(i).Take(10).ToList();
                                            <div class="col-md-4">
                                                @foreach (var itemShop in listBlock)
                                                {

                                                    if (itemShop.ParentID == 0)
                                                    {
                                                        <div class="menu-title"><a href="#">@itemShop.Name</a></div><!-- End .menu-title -->

                                                    }
                                                    <ul>
                                                        @if (itemShop.ParentID != 0)
                                                        {
                                                            <li><a href="/san-pham/@itemShop.MetaTitle-@itemShop.ID">@itemShop.Name</a></li>
                                                        }
                                                    </ul>

                                                }
                                            </div><!-- End .col-md-6 -->
                                        }
                                    }
                                </div><!-- End .row -->
                            </div><!-- End .menu-col -->
                        </div><!-- End .col-md-8 -->
                    </div><!-- End .row -->
                </div><!-- End .megamenu megamenu-md -->
            </li>
            <li>
                <a href="/bai-viet" class="sf-with-ul">Dịch vụ &amp; Bài viết</a>

                <div class="megamenu megamenu-sm">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="menu-col">
                                @foreach (var item in newsCategory)
                                {
                                    if (item.ParentID == 0)
                                    {
                                        <div class="menu-title"><a href="/bai-viet/@item.MetaTitle-@item.ID">@item.Name</a></div><!-- End .menu-title -->
                                    }
                                    else
                                    {
                                        <ul>
                                            <li><a href="/bai-viet/@item.MetaTitle-@item.ID">@item.Name</a></li>
                                        </ul>
                                    }

                                }
                            </div><!-- End .menu-col -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .megamenu megamenu-sm -->
            </li>
            <li>
                <a href="/gioi-thieu">Giới thiệu</a>
            </li>
            <li>
                <a href="/lien-he">Liên hệ</a>
            </li>

            <li>
                <a href="/khuyen-mai">Khuyến mãi</a>
            </li>
            <li>
                <a href="/bang-gia">Bảng giá</a>
            </li>
        </ul><!-- End .menu -->
    </nav><!-- End .main-nav -->
</div>
<!--end main menu-->