@model Models.EF.Credential
@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headertitle{Phân quyền cho <b>@ViewBag.UserGroup</b>}@section headermenuroot{Phân quyền}@section headermenusub{Danh sách}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                         @using (Html.BeginForm("Index","Credential",FormMethod.Post,new { @id="frmRole"})) {
                            <div class="col-sm-1">
                                <button class="btn btn-danger btn-sm" id="btnClose">Đóng</button>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Thêm quyền</span>
                                    @Html.DropDownListFor(model => model.UserGroupID, (IEnumerable<SelectListItem>)ViewBag.UserGroupID, htmlAttributes: new { @class = "form-control" })
                                    <span class="input-group-addon"><a id="btnAddNew" href="#"><i class="fa fa-plus"></i></a></span>
                                </div>
                            </div>
                        }

                        <div class="col-sm-2">
                            <div class="input-group input-group-sm">
                                <select id="sltPageSize" class="form-control" name="PageSize">
                                    @for (int i = 10; i <= 100; i += 5)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <span class="input-group-btn">
                                    <label class="btn">dòng/trang</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="hidden" id="txtUserGroup" value="@ViewBag.UserGroup" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th><span style="margin-left:5px">#</span></th>
                                <th>Quyền hạn</th>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                    </table>
                    <div class="row">

                        <div class="col-md-3">
                            <label id="status" class="text-gray label label-success">Normal</label>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <p id="lbTotal" class="text-right text-bold text-blue"></p>
                        </div>
                    </div>
                    <div id="pagination" class="pagination pull-left">
                    </div>
                    <script id="data-template" type="x-tmpl-mustache">
                        <tr>
                            <td style="width:30px">
                                <a class="btn-danger btn-delete" data-id="{{RoleID}}"><i class="fa fa-fw fa-remove"></i></a>
                            </td>
                            <td>{{RoleName}}</td>
                        </tr>
                    </script>

                </div>
            </div>
        </div>
    </div>
</section>
@section JsFooter
{
    <script src="~/Asset/Admin/Js/jquery.validate.min.js"></script>
    <script src="~/Asset/Admin/Js/mustache.min.js"></script>
    <script src="~/Asset/Admin/Js/jquery.twbsPagination.min.js"></script>
    <script src="~/Asset/Admin/Js/bootbox.min.js"></script>
    <script src="~/Asset/Admin/Js/controller/CredentialController.js"></script>
}

