@model Models.ViewModels.NewsViewModel
@{
    ViewBag.Title = "Chi tiết tin";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var listNews = (List<Models.ViewModels.NewsViewModel>)ViewBag.ListNews;
    var listRecent = (List<Models.ViewModels.NewsViewModel>)ViewBag.ListRecent;
    var listRelate = (List<Models.ViewModels.NewsViewModel>)ViewBag.ListRelate;
    var listNewsCategory = (List<Models.EF.NewsCategory>)ViewBag.ListNewsCategory;
    var newsCategory = (Models.EF.NewsCategory)ViewBag.NewsCategory;
    var listTag = (List<Models.EF.Tag>)ViewBag.ListTag;
}
<!-- Begin Li's Breadcrumb Area -->
<div class="page-header text-left" style="background-image: url('/Asset/Client/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title" style="text-transform:uppercase">@Model.Name</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            @*<li class="breadcrumb-item"><a href="#">Tin tức</a></li>*@
            <li class="breadcrumb-item active" aria-current="page">Chi tiết tin</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <article class="entry single-entry">
                    <figure class="entry-media">
                        <img src="/Asset/Client/assets/images/blog/single/1.jpg" alt="image desc">
                    </figure><!-- End .entry-media -->

                    <div class="entry-body">
                        <div class="entry-meta">
                            <span class="entry-author">
                                by <a href="#">@Model.CreateBy</a>
                            </span>
                            <span class="meta-separator">|</span>
                            <a href="#">@Model.CreateDate</a>
                            <span class="meta-separator">|</span>
                            <a href="#">Đã xem(0)</a>
                        </div><!-- End .entry-meta -->

                        <div class="entry-title">@Html.Raw(Model.Name)</div>

                        <div class="entry-cats">
                            in <a href="/tin-tuc/@Model.NewsCategoryMetaTitle-@Model.NewsCategoryID">@Model.NewsCategoryName</a>
                        </div><!-- End .entry-cats -->

                        <div class="entry-content editor-content">
                            @Html.Raw(Model.Detail)
                        </div><!-- End .entry-content -->

                        <div class="entry-footer row no-gutters flex-column flex-md-row">
                            <div class="col-md">
                                <div class="entry-tags">
                                    <span>Tags:</span> <a href="#">photography</a> <a href="#">style</a>
                                </div><!-- End .entry-tags -->
                            </div><!-- End .col -->

                            <div class="col-md-auto mt-2 mt-md-0">
                                <div class="social-icons social-icons-color">
                                    <span class="social-label">Share this post:</span>
                                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                    <a href="#" class="social-icon social-linkedin" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .col-auto -->
                        </div><!-- End .entry-footer row no-gutters -->
                    </div><!-- End .entry-body -->

                    <div class="entry-author-details">
                        <figure class="author-media">
                            <a href="#">
                                <img src="/Asset/Client/assets/images/blog/single/author.jpg" alt="User name">
                            </a>
                        </figure><!-- End .author-media -->

                        <div class="author-body">
                            <div class="author-header row no-gutters flex-column flex-md-row">
                                <div class="col">
                                    <h4><a href="#">John Doe</a></h4>
                                </div><!-- End .col -->
                                <div class="col-auto mt-1 mt-md-0">
                                    <a href="#" class="author-link">View all posts by John Doe <i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .col -->
                            </div><!-- End .row -->

                            <div class="author-content">
                                <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. </p>
                            </div><!-- End .author-content -->
                        </div><!-- End .author-body -->
                    </div><!-- End .entry-author-details-->
                </article><!-- End .entry -->

                <nav class="pager-nav" aria-label="Page navigation">
                    <a class="pager-link pager-link-prev" href="#" aria-label="Previous" tabindex="-1">
                        Previous Post
                        <span class="pager-link-title">Cras iaculis ultricies nulla</span>
                    </a>

                    <a class="pager-link pager-link-next" href="#" aria-label="Next" tabindex="-1">
                        Next Post
                        <span class="pager-link-title">Praesent placerat risus</span>
                    </a>
                </nav><!-- End .pager-nav -->

                <div class="related-posts">
                    <h3 class="title">Related Posts</h3><!-- End .title -->

                    <div class="owl-carousel owl-simple" data-toggle="owl"
                         data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":1
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            }
                                        }
                                    }'>
                        <article class="entry entry-grid">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="/Asset/Client/assets/images/blog/grid/3cols/post-1.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Nov 22, 2018</a>
                                    <span class="meta-separator">|</span>
                                    <a href="#">2 Comments</a>
                                </div><!-- End .entry-meta -->

                                <h2 class="entry-title">
                                    <a href="single.html">Cras ornare tristique elit.</a>
                                </h2><!-- End .entry-title -->

                                <div class="entry-cats">
                                    in <a href="#">Lifestyle</a>,
                                    <a href="#">Shopping</a>
                                </div><!-- End .entry-cats -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry entry-grid">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="/Asset/Client/assets/images/blog/grid/3cols/post-2.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Nov 21, 2018</a>
                                    <span class="meta-separator">|</span>
                                    <a href="#">0 Comments</a>
                                </div><!-- End .entry-meta -->

                                <h2 class="entry-title">
                                    <a href="single.html">Vivamus ntulla necante.</a>
                                </h2><!-- End .entry-title -->

                                <div class="entry-cats">
                                    in <a href="#">Lifestyle</a>
                                </div><!-- End .entry-cats -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry entry-grid">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="/Asset/Client/assets/images/blog/grid/3cols/post-3.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Nov 18, 2018</a>
                                    <span class="meta-separator">|</span>
                                    <a href="#">3 Comments</a>
                                </div><!-- End .entry-meta -->

                                <h2 class="entry-title">
                                    <a href="single.html">Utaliquam sollicitudin leo.</a>
                                </h2><!-- End .entry-title -->

                                <div class="entry-cats">
                                    in <a href="#">Fashion</a>,
                                    <a href="#">Lifestyle</a>
                                </div><!-- End .entry-cats -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry entry-grid">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="/Asset/Client/assets/images/blog/grid/3cols/post-4.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Nov 15, 2018</a>
                                    <span class="meta-separator">|</span>
                                    <a href="#">4 Comments</a>
                                </div><!-- End .entry-meta -->

                                <h2 class="entry-title">
                                    <a href="single.html">Fusce pellentesque suscipit.</a>
                                </h2><!-- End .entry-title -->

                                <div class="entry-cats">
                                    in <a href="#">Travel</a>
                                </div><!-- End .entry-cats -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    </div><!-- End .owl-carousel -->
                </div><!-- End .related-posts -->

                <div class="comments">
                    <h3 class="title">3 Comments</h3><!-- End .title -->

                    <ul>
                        <li>
                            <div class="comment">
                                <figure class="comment-media">
                                    <a href="#">
                                        <img src="/Asset/Client/assets/images/blog/comments/1.jpg" alt="User name">
                                    </a>
                                </figure>

                                <div class="comment-body">
                                    <a href="#" class="comment-reply">Reply</a>
                                    <div class="comment-user">
                                        <h4><a href="#">Jimmy Pearson</a></h4>
                                        <span class="comment-date">November 9, 2018 at 2:19 pm</span>
                                    </div><!-- End .comment-user -->

                                    <div class="comment-content">
                                        <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. </p>
                                    </div><!-- End .comment-content -->
                                </div><!-- End .comment-body -->
                            </div><!-- End .comment -->

                            <ul>
                                <li>
                                    <div class="comment">
                                        <figure class="comment-media">
                                            <a href="#">
                                                <img src="/Asset/Client/assets/images/blog/comments/2.jpg" alt="User name">
                                            </a>
                                        </figure>

                                        <div class="comment-body">
                                            <a href="#" class="comment-reply">Reply</a>
                                            <div class="comment-user">
                                                <h4><a href="#">Lena  Knight</a></h4>
                                                <span class="comment-date">November 9, 2018 at 2:19 pm</span>
                                            </div><!-- End .comment-user -->

                                            <div class="comment-content">
                                                <p>Morbi interdum mollis sapien. Sed ac risus.</p>
                                            </div><!-- End .comment-content -->
                                        </div><!-- End .comment-body -->
                                    </div><!-- End .comment -->
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="comment">
                                <figure class="comment-media">
                                    <a href="#">
                                        <img src="/Asset/Client/assets/images/blog/comments/3.jpg" alt="User name">
                                    </a>
                                </figure>

                                <div class="comment-body">
                                    <a href="#" class="comment-reply">Reply</a>
                                    <div class="comment-user">
                                        <h4><a href="#">Johnathan Castillo</a></h4>
                                        <span class="comment-date">November 9, 2018 at 2:19 pm</span>
                                    </div><!-- End .comment-user -->

                                    <div class="comment-content">
                                        <p>Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                                    </div><!-- End .comment-content -->
                                </div><!-- End .comment-body -->
                            </div><!-- End .comment -->
                        </li>
                    </ul>
                </div><!-- End .comments -->
                <div class="reply">
                    <div class="heading">
                        <h3 class="title">Leave A Reply</h3><!-- End .title -->
                        <p class="title-desc">Your email address will not be published. Required fields are marked *</p>
                    </div><!-- End .heading -->

                    <form action="#">
                        <label for="reply-message" class="sr-only">Comment</label>
                        <textarea name="reply-message" id="reply-message" cols="30" rows="4" class="form-control" required placeholder="Comment *"></textarea>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="reply-name" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="reply-name" name="reply-name" required placeholder="Name *">
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <label for="reply-email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="reply-email" name="reply-email" required placeholder="Email *">
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->

                        <button type="submit" class="btn btn-outline-primary-2">
                            <span>POST COMMENT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </form>
                </div><!-- End .reply -->
            </div><!-- End .col-lg-9 -->

            <aside class="col-lg-3">
                <div class="sidebar">
                    <div class="widget widget-search">
                        <h3 class="widget-title">Search</h3><!-- End .widget-title -->

                        <form action="#">
                            <label for="ws" class="sr-only">Search in blog</label>
                            <input type="search" class="form-control" name="ws" id="ws" placeholder="Search in blog" required>
                            <button type="submit" class="btn"><i class="icon-search"></i><span class="sr-only">Search</span></button>
                        </form>
                    </div><!-- End .widget -->

                    <div class="widget widget-cats">
                        <h3 class="widget-title">Categories</h3><!-- End .widget-title -->

                        <ul>
                            <li><a href="#">Lifestyle<span>3</span></a></li>
                            <li><a href="#">Shopping<span>3</span></a></li>
                            <li><a href="#">Fashion<span>1</span></a></li>
                            <li><a href="#">Travel<span>3</span></a></li>
                            <li><a href="#">Hobbies<span>2</span></a></li>
                        </ul>
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">Popular Posts</h3><!-- End .widget-title -->

                        <ul class="posts-list">
                            <li>
                                <figure>
                                    <a href="#">
                                        <img src="/Asset/Client/assets/images/blog/sidebar/post-1.jpg" alt="post">
                                    </a>
                                </figure>

                                <div>
                                    <span>Nov 22, 2018</span>
                                    <h4><a href="#">Aliquam tincidunt mauris eurisus.</a></h4>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <a href="#">
                                        <img src="/Asset/Client/assets/images/blog/sidebar/post-2.jpg" alt="post">
                                    </a>
                                </figure>

                                <div>
                                    <span>Nov 19, 2018</span>
                                    <h4><a href="#">Cras ornare tristique elit.</a></h4>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <a href="#">
                                        <img src="/Asset/Client/assets/images/blog/sidebar/post-3.jpg" alt="post">
                                    </a>
                                </figure>

                                <div>
                                    <span>Nov 12, 2018</span>
                                    <h4><a href="#">Vivamus vestibulum ntulla nec ante.</a></h4>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <a href="#">
                                        <img src="/Asset/Client/assets/images/blog/sidebar/post-4.jpg" alt="post">
                                    </a>
                                </figure>

                                <div>
                                    <span>Nov 25, 2018</span>
                                    <h4><a href="#">Donec quis dui at dolor  tempor interdum.</a></h4>
                                </div>
                            </li>
                        </ul><!-- End .posts-list -->
                    </div><!-- End .widget -->

                    <div class="widget widget-banner-sidebar">
                        <div class="banner-sidebar-title">ad box 280 x 280</div><!-- End .ad-title -->

                        <div class="banner-sidebar">
                            <a href="#">
                                <img src="/Asset/Client/assets/images/blog/sidebar/banner.jpg" alt="banner">
                            </a>
                        </div><!-- End .banner-ad -->
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">Browse Tags</h3><!-- End .widget-title -->

                        <div class="tagcloud">
                            <a href="#">fashion</a>
                            <a href="#">style</a>
                            <a href="#">women</a>
                            <a href="#">photography</a>
                            <a href="#">travel</a>
                            <a href="#">shopping</a>
                            <a href="#">hobbies</a>
                        </div><!-- End .tagcloud -->
                    </div><!-- End .widget -->

                    <div class="widget widget-text">
                        <h3 class="widget-title">About Blog</h3><!-- End .widget-title -->

                        <div class="widget-text-content">
                            <p>Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, pulvinar nunc sapien ornare nisl.</p>
                        </div><!-- End .widget-text-content -->
                    </div><!-- End .widget -->
                </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
<div class="li-main-blog-page li-main-blog-details-page pt-60 pb-60 pb-sm-45 pb-xs-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Blog Sidebar Area -->
            <div class="col-lg-3 order-lg-1 order-2">
                <div class="li-blog-sidebar-wrapper">
                    <div class="li-blog-sidebar pt-25">
                        <h4 class="li-blog-sidebar-title">Danh mục tin</h4>
                        <ul class="li-blog-archive">
                            @foreach (var item in listNewsCategory)
                            {
                                int itemCount = listNews.Count(x => x.NewsCategoryID.Equals(item.ID));
                                if (itemCount > 0)
                                {
                                    <li><a href="/bai-viet/@item.MetaTitle-@item.ID">@item.Name (@listNews.Count(x => x.NewsCategoryID.Equals(item.ID)))</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="li-blog-sidebar">
                        <h4 class="li-blog-sidebar-title">Bài gần đây</h4>
                        @foreach (var item2 in listRecent)
                        {
                            <div class="li-blog-single-item pb-30">
                                <div class="li-blog-banner" style="padding-right:70px">
                                    <a href="/chi-tiet-tin/@item2.MetaTitle-@item2.ID"><img class="img-full" src="@item2.Image" alt="@item2.Name"></a>
                                </div>
                                <div class="li-blog-content">
                                    <div class="li-blog-details">
                                        <p class="li-blog-heading pt-25">
                                            <a href="/chi-tiet-tin/@item2.MetaTitle-@item2.ID">@item2.Name</a>
                                            <span> @string.Format("{0:dd/MM/yyyy}", item2.CreateDate)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="li-blog-sidebar">
                        <h4 class="li-blog-sidebar-title">Tags</h4>
                        <ul class="li-blog-tags">
                            @foreach (var tag in listTag)
                            {
                                <li><a href="/tag/@tag.ID">@tag.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Blog Sidebar Area End Here -->
            <!-- Begin Li's Main Content Area -->
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="row li-main-content">
                    <div class="col-lg-12">
                        <div class="li-blog-single-item pb-30">
                            <div class="li-blog-content">
                                <div class="li-blog-details">
                                    <h2 class="li-blog-heading"><a href="#">@Model.Name</a></h2>
                                    <div class="li-blog-meta">
                                        <a class="author"><i class="fa fa-user"></i> @Model.CreateBy</a>
                                        <a class="comment"><i class="fa fa-hashtag"></i> @Model.NewsCategoryName</a>
                                        <a class="post-time"><i class="fa fa-calendar"></i> @string.Format("{0:dd/MM/yyyy}", @Model.CreateDate)</a>
                                    </div>
                                    @Html.Raw(Model.Detail)
                                    <div class="li-tag-line">
                                        <h4>tag:</h4>
                                        @foreach (var tag in listTag)
                                        {
                                            <a href="/tag/@tag.ID">@tag.Name</a><span>,</span>
                                        }
                                    </div>
                                    <div class="li-blog-sharing text-center pt-30">
                                        <h4>Chia sẻ bài viết:</h4>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--relate news-->
                        <div class="li-blog-sidebar">
                            <h3 class="li-blog-sidebar-title">Tin cùng danh mục</h3>
                        </div>
                        <div class="col-lg-12 order-lg-3 order-1">
                            <div class="row li-main-content">

                                @if (listRelate.Count > 0)
                                {
                                    foreach (var newsRelate in listRelate)
                                    {
                                        <div class="col-lg-4 col-md-4">
                                            <div class="li-blog-single-item pb-25">
                                                <div class="li-blog-banner">
                                                    <a href="/chi-tiet-tin/@newsRelate.MetaTitle-@newsRelate.ID"><img class="img-full" src="@newsRelate.Image" alt="@newsRelate.Name"></a>
                                                </div>
                                                <div class="li-blog-content">
                                                    <div class="li-blog-details">
                                                        <h3 class="li-blog-heading pt-25"><a href="/chi-tiet-tin/@newsRelate.MetaTitle-@newsRelate.ID">@newsRelate.Name</a></h3>
                                                        <div class="li-blog-meta">
                                                            <a class="author"><i class="fa fa-user"></i> @newsRelate.CreateBy</a>
                                                            <a class="comment"><i class="fa fa-hashtag"></i> @newsRelate.NewsCategoryName</a>
                                                            <a class="post-time"><i class="fa fa-calendar"></i> @string.Format("{0:dd/MM/yyyy}", @newsRelate.CreateDate)</a>
                                                        </div>
                                                        @Html.Raw(newsRelate.Description.Length < 200 ? newsRelate.Description : newsRelate.Description.Substring(0, 150))
                                                        <a class="read-more" href="/chi-tiet-tin/@newsRelate.MetaTitle-@newsRelate.ID">Chi tiết...</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="border-top">Không có sản tin nào</div>
                                }
                            </div>
                        </div>
                        <!--relate news end-->
                    </div>
                </div>
            </div>
            <!-- Li's Main Content Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Main Blog Page Area End Here -->