@model Models.ViewModels.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Thông tin tài khoản";
}
<div class="page-header text-left" style="background-image: url('/Asset/Client/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">THÔNG TIN TÀI KHOẢN KHÁCH HÀNG</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12  ">
                <div class="contact-page-side-content">
                    <div class="single-contact-block">
                        <h5><i class="fa fa-user-circle-o"></i> Họ tên</h5>
                        <p>@Model.Name</p>
                    </div>
                    <div class="single-contact-block">
                        <h5><i class="fa fa-address-book"></i> Địa chỉ</h5>
                        <p>@Model.Address</p>
                    </div>
                    <div class="single-contact-block">
                        <h5><i class="fa fa-mail-reply"></i> Email</h5>
                        <p>@Model.Email</p>
                    </div>
                    <div class="single-contact-block">
                        <h5><i class="fa fa-phone"></i> Điện thoại</h5>
                        <p>@Model.Phone</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h5><i class="fa fa-clock-o"></i> Ngày tham gia</h5>
                        <p>@Model.CreateDate</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <button class="register-button mt-0" style="width:170px"><a class="active" href="/doi-mat-khau">Đổi mật khẩu</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Main Page Area End Here -->