@model Models.ViewModels.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Thông tin tài khoản";
}
<div class="page-header text-left" style="background-image: url('/Asset/Client/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">THÔNG TIN TÀI KHOẢN KHÁCH HÀNG</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="page-content pb-0">
    <div class="container">
        <div class="accordion accordion-rounded" id="accordion-1">
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-1">
                    <h2 class="card-title">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                            Họ tên tài khoản
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                    <div class="card-body">
                        @Model.Name
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-2">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            Địa chỉ
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-2" class="collapse show" aria-labelledby="heading-2" data-parent="#accordion-1">
                    <div class="card-body">
                        @Model.Address
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-3">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                            Tài khoản email
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-3" class="collapse show" aria-labelledby="heading-3" data-parent="#accordion-1">
                    <div class="card-body">
                        @Model.Email
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-4">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                            Số điện thoại
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-4" class="collapse show" aria-labelledby="heading-4" data-parent="#accordion-1">
                    <div class="card-body">
                        @Model.Phone
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-5">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                            Ngày tham gia
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-5" class="collapse show" aria-labelledby="heading-5" data-parent="#accordion-1">
                    <div class="card-body">
                        @Model.CreateDate
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->
            <div class="input-group-append" style="margin-top:10px">
                <a href="/doi-mat-khau" class="btn btn-primary btn-rounded" type="button"><span>Đổi muốn đổi mật khẩu</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- .End .input-group-append -->
        </div><!-- End .accordion -->
    </div>
</div>