@model Models.ViewModels.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thông tin tài khoản";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Thông tin khách hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Contact Main Page Area -->
<div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12  ">
                <div class="contact-page-side-content">
                    <div class="single-contact-block">
                        <h5><i class="fa fa-user-circle-o"></i> Họ tên</h5>
                        <p>@Model.Name</p>
                    </div>
                    <div class="single-contact-block">
                        <h5><i class="fa fa-address-book"></i> Địa chỉ</h5>
                        <p>@Model.Address</p>
                    </div>
                    <div class="single-contact-block">
                        <h5><i class="fa fa-mail-reply"></i> Email</h5>
                        <p>@Model.Email</p>
                    </div>
                    <div class="single-contact-block">
                        <h5><i class="fa fa-phone"></i> Điện thoại</h5>
                        <p>@Model.Phone</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h5><i class="fa fa-clock-o"></i> Ngày tham gia</h5>
                        <p>@Model.CreateDate</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <button class="register-button mt-0" style="width:170px"><a class="active" href="/doi-mat-khau">Đổi mật khẩu</a></button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Contact Main Page Area End Here -->
