@model Models.ViewModels.ChangePassViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="page-header text-left" style="background-image: url('/Asset/Client/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">THÔNG TIN ĐẶT HÀNG</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
            @Html.AntiForgeryToken()
            <form action="/doi-mat-khau/" method="post">
                <div class="row" style="margin-bottom:20px">
                    <div class="col-lg-12">
                        @Html.ValidationSummary(false, "", new { @class = "text text-warning" })
                        @Html.Raw(ViewBag.Error)
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Địa chỉ email *</label>
                                @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control", @required = "required" })
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <label>Mật khẩu cũ</label>
                        @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @required = "required" })

                        <label>Mật khẩu mới *</label>
                        @Html.TextBoxFor(model => model.NewPassword, new { @type = "password", @class = "form-control", @required = "required" })
                        <div class="input-group-append" style="margin-top:10px">
                            <button class="btn btn-primary btn-rounded" type="submit"><span>Đổi mật khẩu</span><i class="icon-long-arrow-right"></i></button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- End .col-lg-9 -->
                    <!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->