@model Models.ViewModels.ChangePassViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Đổi mật khẩu</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">
                <!-- Login Form s-->
                @using (Html.BeginForm("ChangePassword", "UserClient", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="login-form">
                        <h4 class="login-title">Đổi mật khẩu</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb-20">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                @Html.Raw(ViewBag.Info)
                            </div>
                            <div class="col-md-12 col-12 mb-20">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @type = "email", @placeholder = "Nhập email" })
                            </div>
                            <div class="col-md-12 col-12 mb-20">
                                @Html.LabelFor(model => model.Password)
                                @Html.TextBoxFor(model => model.Password, new { @type = "password" })
                            </div>
                            <div class="col-12 mb-20">
                                @Html.LabelFor(model => model.NewPassword)
                                @Html.TextBoxFor(model => model.NewPassword, new { @type = "password" })
                            </div>
                            <div class="col-12 mb-20">
                                @Html.LabelFor(model => model.ConfirmPassword)
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password" })
                            </div>

                            <div class="col-md-12">
                                <button class="register-button mt-0">Xác thực</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->