@model Models.ViewModels.LoginViewModel
@RenderPage("~/Areas/Admin/Views/Shared/_CssHeader.cshtml")
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập</title>
</head>
<!-- Favicon -->

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/">
                <img src="~/Asset/Client/resource/logo-nghi-nhu.png" width="200"/>
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h4 class="login-box-msg">Đăng nhập quản trị hệ thống</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập hoặc email", @required = "true", @autoforcus = "autoforcus" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @required = "true", @placeholder = "Password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                        @*<div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Ghi nhớ
                                </label>
                            </div>*@
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <span>Vui lòng liên hệ quản trị viên nếu quên mật khẩu!</span>
        </div>
        <!-- /.login-box-body -->
    </div>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });</script>
</body>
@RenderPage("~/Areas/Admin/Views/Shared/_JsFooter.cshtml")
<script type="text/javascript">
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
</html>