<!DOCTYPE html>
<html lang="en">

<!-- molla/index-13.html  22 Nov 2019 09:59:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Nghi như Computer">
    <meta name="description" content="CÔNG TY TNHH TIN HỌC NGHI NHƯ">
    <meta name="author" content="MGR HỒ TRỌNG CẦN">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Asset/Client/resource/nghinhu-favicon.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/Asset/Client/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/Asset/Client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Asset/Client/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/Asset/Client/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/Asset/Client/assets/css/style.css">
    <link rel="stylesheet" href="/Asset/Client/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="/Asset/Client/assets/css/demos/demo-13.css">
    @RenderSection("head", required: false)
</head>
<body>
    <div class="page-wrapper">
        @RenderPage("~/Views/Shared/_Header.cshtml")
        <!-- End .header -->
        <!-- main -->
        <main class="main">
            @RenderBody()
        </main>
        <!-- End .main -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Đầu trang"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    @RenderPage("~/Views/Shared/_MobileMenu.cshtml")
    <!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    @RenderPage("~/Views/Shared/_SigninRegister.cshtml")
    <!-- End .modal -->
    @RenderPage("~/Views/Shared/_PopupNewsLetter.cshtml")

    <!-- Plugins JS File -->
    <script src="/Asset/Client/assets/js/jquery.min.js"></script>
    <script src="/Asset/Client/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Asset/Client/assets/js/jquery.waypoints.min.js"></script>
    <script src="/Asset/Client/assets/js/owl.carousel.min.js"></script>
    <script src="/Asset/Client/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/Asset/Client/assets/js/main.js"></script>
    <script src="/Asset/Client/assets/js/demos/demo-13.js"></script>
    <script src="~/Asset/Admin/Js/jquery.validate.min.js"></script>
    <script src="/Asset/Admin/Js/bootbox.min.js"></script>
    <script src="/Asset/Client/assets/js/numeral.min.js"></script>
    <script src="/Asset/Client/assets/js/controller/CartController.js"></script>
    <script src="~/Asset/Client/assets/js/controller/AddToCartController.js"></script>
    <script src="~/Asset/Client/assets/js/controller/ClientLogin.js"></script>
</body>

<!-- molla/index-13.html  22 Nov 2019 09:59:31 GMT -->
</html>